<h1>Register a new competition!</h1>
<form action="{% url 'smartathon:create competition handler' %}" method="post">

    {% csrf_token %}

    <input type="text" name="cname" id="cname">
    <label for="cname">Enter the name of the competition:</label><br>

    <textarea name="cdesc" id="cdesc"> </textarea>
    <label for="cdesc">Add a short description for the competition:</label><br>

    <input type="datetime-local" name="cdate" id="cdate">
    <label for="cdate">Please specify the schedule:</label><br>

    <textarea name="cvenue" id="cvenue"> </textarea>
    <label for="cvenue">Where is the competition held?</label><br>

    <input type="number" name="max_members" id="max_members">
    <label for="max_members">Enter the maximum number of members per team:</label><br>

    <input type="submit" name="submit" id="submit">

</form>